body
{
    margin: 0px;
    font-family: sans-serif;
}

#body-header
{
    margin-top: 0px;
    height: 60vh;
    opacity: 0.9;
    background-image: url(./images/macbook_mouse.jpg);
    background-size: contain;
}

.horizental-list
{
    /* margin-top: 1.5rem; */
    padding: 1rem;
}
.horizental-list li
{
    display: inline-block;
    list-style: none;
}
.horizental-list li a
{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.horizental-list li a:hover
{
    text-decoration: underline;
    color: lightgrey;
}

#name-social-container
{
    margin-top: 18vh;
}
.name-container h1
{
    color: white;
    font-size: 3rem;
}
.social-icons-container
{
    margin-top: -2rem;
}
.social-icons-container li a
{
    margin:0.2rem;
    font-size: 1.5rem;
}
.social-icons-container li a:hover
{
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px white;
    color: white;
}
/* Text Center */
.text-center
{
    text-align: center;
}

/* section common style */
section
{
    width: 100%;
    height: auto;
}
section:nth-child((2n+1))
{
    background-color:white;
}
section:nth-child(2n)
{
    background-color:lightgray; 
}


/* About Section */
#image-container
{
    position: relative;
    margin-top: -110px;
}
#image-container img
{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
#about-para
{
    margin: 1rem 7rem 1rem;
    color: grey;
    font-size: 1.5rem;
    text-align: justify;
}


/* common margin */
.mb75px
{
    margin-bottom: 75px;
}